.button{
    background: #E3E3E3;
    border:0;
    border-radius: 15px;
    font-weight: 700;
    font-size: 1rem;
    padding:12px 30px;
    color:#000;
    cursor:pointer;
}

.success{
    background: linear-gradient(90deg,#B5DC52,#89E148 );
    color:#FFF

}
.danger{
    background: linear-gradient(90deg,#FF9595,#FF4747, #FF3838);
    color:#FFF

}
.primary{
    background: #F4BB4A;
}